<script>
  export let status;
  export let error;

  const dev = process.env.NODE_ENV === "development";
</script>

<svelte:head>
  <title>{status}</title>
</svelte:head>

<section class="box has-text-centered">
  <div class="columns is-vcentered" style="height: 82vh">
    <div class="column">
      <h1 class="title is-1">{status}</h1>
    </div>
    <div class="column">
      <p class="message is-primary" >😿 {error.message}</p>
    </div>
  </div>
</section>

{#if dev && error.stack}
  <pre>{error.stack}</pre>
{/if}
