<script>
  import { onMount } from "svelte";
  import { stores } from "@sapper/app";
  import Nav from "../components/Nav.svelte";
  import MusicPlayer from "../components/MusicPlayer.svelte";
  import PageTransition from "../components/PageTransition.svelte";
  const { session, preloading } = stores();
  import { derived } from "svelte/store";

  const delayedPreloading = derived(preloading, (currentPreloading, set) => {
    setTimeout(() => set(currentPreloading), 250);
  });
  let usr = undefined;
  let lightmode = undefined;
  let hasSongs = undefined;
  onMount(() => {
    if (session != null) {
      session.subscribe((v) => {
        if (v && v.user) {
          usr = v.user;
        }
        if (v && v.songs) {
          hasSongs = true;
        }
        if (v.settings && v.settings.lightmode) {
          lightmode = v.settings.lightmode;
        }
      });
    }
    window.onkeydown = function (e) {
      return !(e.keyCode == 32 && e.target == document.body);
    };
    if (lightmode && lightmode === false) {
      var head = document.getElementsByTagName("HEAD")[0];
      // Create new link Element
      var link = document.createElement("link");
      // set the attributes for link element
      link.rel = "stylesheet";
      link.type = "text/css";
      link.href =
        '"https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css"';

      // Append link element to HTML head
      head.appendChild(link);
    }
  });
  export let segment;
</script>

<svelte:head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</svelte:head>

<Nav {segment} {lightmode} {usr} />

<main>
  <PageTransition refresh={segment}>
    {#if $preloading && $delayedPreloading}
      <div class="has-text-centered mt-5">
        <button class="button is-large is-loading" />
      </div>
    {:else}
      <slot />
    {/if}
  </PageTransition>
</main>
{#if usr && hasSongs}
  <MusicPlayer {lightmode} />
{/if}
