<svelte:head>
  <title>About</title>
</svelte:head>

<section class="box">
  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <h1 class="title">👽 About Eclektik</h1>
    </div>
    <div class="column">
      <div class="message">
        <p>
          Eclektik Player is an S3 bucket music player with advanced playlist
          creation and search features.
        </p>
      </div>
      <div class="message">
        <p>
          It's aimed to be used by a familly or a group of friend who like to
          share their private music with each other.
        </p>
      </div>
      <div class="message">
        <p>
          It has an open source devellopement model with sources and project
          management hosted on <a href="https://gitlab.com/polify">Gitlab</a>
        </p>
      </div>
      <div class="message">
        <p>
          To use it, you should already have an S3 bucket containing your music
          titles preferably ordered by Artist/Album/titles.(mp3/flac).
        </p>
      </div>
      <div class="message">
        <p>
          As its still in alpha / dev mode an invite code is required to
          register. If you are interested in directly using this particular
          deployment hosted by heroku on eclektik.xyz, be sure to ask access to
          the project on the above Gitlab.
        </p>
      </div>
      <div class="message">
        <p>
          Technically speaking, it need a Graphql API hosted somewhere (Heroku
          it's easy and free) and a PostgreSQL Database.
        </p>
      </div>
      <div class="message">
        <p>
          Actually, the current api deployment and its graphql scheme is
          available at <a href="https://gql.eclektik.xyz">gql.eclektik.xyz</a>
        </p>
      </div>
      <div class="message">
        <p>
          At some point in the future, the database and music file hosting
          should be totally decentralised (think Storj or IPFS).
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <style>
  section {
    height: 100vh;
    padding-top: 10vh;
  }
</style> -->