<section class="box" style="margin: 20px;">
    <h1 class="title is-spaced">Contact Eclektik Dev(s)</h1>
    <h2 class="subtitle">1</h2>
    <h2 class="subtitle">2</h2>
    <h2 class="subtitle">3</h2>
</section>