<script>
  import { stores } from "@sapper/app";
  import RecentlyPlayed from "../components/RecentlyPlayed.svelte";
  import Playlists from "../components/Playlists.svelte";
  import Genres from "../components/Genres.svelte";
  import RandomPlaylist from "../components/RandomPlaylist.svelte";
  import Search from "../components/Search.svelte";
  import { onMount } from "svelte";

  const { session } = stores();
  let lightmode;

  onMount(() => {
    session.subscribe((_) => {
      if ($session.settings && $session.settings.lightmode !== undefined) {
        lightmode = $session.settings.lightmode;
      }
    });
  });
</script>

<svelte:head>
  <title>EclektikPlayer</title>
</svelte:head>

<section style="margin-top: 3vh;margin-bottom: 26vh;">
  {#if $session && $session.user}
    <div class="box has-text-centered message is-grey">
      <h1 class="title is-3" style="text-transform: capitalize">
        👋 welcome back {$session.user.name}
      </h1>
    </div>
    <div class="tile is-ancestor" style="margin: 10px;">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-grey">
          <div class="content">
            <p class="title">Search</p>
            <p class="subtitle">Artists, Songs, Albums...</p>
            <div class="content">
              <Search />
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-grey">
          <p class="title has-text-left">Or just shuffle</p>
          <RandomPlaylist />
        </article>
      </div>
    </div>

    <div class="tile is-ancestor" style="margin: 10px">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-grey">
              <p class="title">Genres</p>
              <Genres />
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-link">
              <p
                class="title is-3 has-text-left"
                style="text-transform: capitalize;"
              >
                recents
              </p>
              <RecentlyPlayed />
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-grey">
          <div class="content">
            <p class="title">Playlists</p>
            <Playlists />
          </div>
        </article>
      </div>
    </div>
  {:else}
    <figure class="has-text-centered image">
      {#if lightmode === false}
        <img
          alt="Eclektik cover"
          style="padding: 30px;"
          src="vector/default-monochrome-white.svg"
        />
      {:else}
        <img alt="Eclektik cover" src="cover.png" />
      {/if}
      <figcaption>
        <h2 class="subtitle is-3 is-size-5-touch">
          A self hosted and <strong>*</strong>foss sp_tify
          <a href="about">alternative</a>.
        </h2>
        <a
          target="”_blank”"
          href="https://gitlab.com/polify"
          class="subtitle is-3 is-size-5-touch"
        >
          <strong>*</strong>
          <span class="icon is-small is-right">
            <i class="fab fa-gitlab" />
          </span>
        </a>
      </figcaption>
    </figure>
  {/if}
</section>
