<section class="box" style="margin: 20px;">
  <div class="columns">
    <div class="column has-text-centered">
      <h2 class="title">🔃 Report an issue :</h2>
    </div>
    <div class="column">
      <div class="field">
        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Usage</option>
              <option>Setup</option>
              <option>Bug</option>
              <option>Enhancement(s)</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            placeholder="Your email"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope" />
          </span>
        </div>
      </div>

      <div class="field">
        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="When trying to ...," />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>
