<script>
  import { onMount } from "svelte";
  import { goto, stores } from "@sapper/app";
  const { session } = stores();
  let lightmode;
  let loading = false;
  let error = undefined;
  let usr = {
    username: "",
    password: "",
  };
  async function onLogin() {
    loading = true;
    if (usr.password === "" || usr.username === "") return;
    const response = await fetch("/api/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify(usr),
    });
    const parsed = await response.json();
    loading = false;
    if (parsed.error) {
      error = String(parsed.error).split(":")[0];
    } else {
      $session.token = parsed.token;
      $session.user = parsed.user;
      goto("/");
    }
  }

  onMount(() => {
    session.subscribe((_) => {
      if ($session.settings && $session.settings.lightmode !== undefined) {
        lightmode = $session.settings.lightmode;
      }
    });
  });
</script>

<section class="hero is-fullheight-with-navbar" style="padding: 30px">
  <div class="columns is-vcentered is-centered">
    <div class="column">
      <img
        alt="eclecktik logo"
        
        src={lightmode === false
          ? "vector/default-monochrome-white.svg"
          : "/cover.png"}
      />
      <!-- <figure class="image is-3by2">
      </figure> -->
    </div>
    <div class="column">
      <div class="container has-text-center">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input
              required
              bind:value={usr.username}
              on:keyup={(e) => e.key === "Enter" && onLogin()}
              class="input"
              type="text"
              placeholder="Username"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user" />
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check" />
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              required
              bind:value={usr.password}
              on:keyup={(e) => e.key === "Enter" && onLogin()}
              class="input"
              type="password"
              placeholder="Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock" />
            </span>
          </p>
        </div>
        {#if error}
          <div class="field has-text-centered">
            <p
              class="control message is-danger is-3"
              style="text-transform:capitalize"
            >
              ⚠️ {error}
            </p>
          </div>
        {/if}
        <div class="field">
          <p class="control">
            <button
              on:click|preventDefault={onLogin}
              class={loading
                ? "button is-link is-outlined is-fullwidth is-loading"
                : "button is-link is-outlined is-fullwidth"}
            >
              Login
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .columns {
    height: 80vh;
  }
</style>
