<script>
  import { stores } from "@sapper/app";
  import { onMount } from "svelte";
  const { session } = stores();

  let playlistId;
  let currentPlaylist;
  let currentSongIndex;
  let playlistName;
  let loading = false;

  let showeditpName = false;
  onMount(() => {
    session.subscribe((_) => {
      if ($session.songs) {
        currentPlaylist = $session.songs;
        if ($session.currentIndex !== undefined) {
          currentSongIndex = $session.currentIndex;
        }
        if ($session.playlistName !== undefined) {
          playlistName = $session.playlistName;
        }
        if ($session.playlistId !== undefined) {
          playlistId = $session.playlistId;
        }
        // song = currentPlaylist[currentSongIndex];
        // if (song) src = song.signedUrl.signedUrl;
        // MediaControlSetup();
        // updatePositionState();
        // document.title += `| ${song.title} - ${song.artist.name}`
      }
    });
  });
  function skipTo() {}
  function removeItem(index) {
    if (!currentPlaylist) return;
    if (index >= currentPlaylist.length) return;
    currentPlaylist.splice(index, 1);
    $session.songs = currentPlaylist;
  }
  function getUniqueItemsCount(arr, prop) {
    let foo = {};
    let uniques = 0;
    for (let index = 0; index < arr.length; index++) {
      const element = arr[index];
      if (element[prop] && element[prop].name) {
        foo[element[prop].name] = true;
      }
    }
    for (const key in foo) {
      if (Object.hasOwnProperty.call(foo, key)) {
        const element = foo[key];
        if (element && element === true) {
          uniques++;
        }
      }
    }
    return uniques;
  }
  async function UpdatePlaylist(songIDs, name, id) {
    loading = true;
    const response = await fetch("/api/updateplaylist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ id, ids: songIDs, name }),
    });
    const parsed = await response.json();
    loading = false;
    return parsed;
  }
  async function CreatePlaylist(songIDs, name) {
    loading = true;
    const response = await fetch("/api/createplaylist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ ids: songIDs, name }),
    });
    const parsed = await response.json();
    loading = false;
    return parsed;
  }
</script>

{#if currentPlaylist}
  <div
    class="container"
    style="margin-top: 3vh;margin-bottom: 20vh;padding: 10px;"
  >
    <div class="card" style="padding: 10px;">
      <p class="block">
        {#if playlistName}
          {#if showeditpName}
            <div class="field has-addons">
              <div class="control">
                <input
                  class="input is-small is-link"
                  type="text"
                  bind:value={playlistName}
                  placeholder="Update playlist name"
                />
              </div>
              <div class="control">
                <button
                  on:click={() => {
                    showeditpName = false;
                  }}
                  class="button is-small is-text"
                >
                  <i class="fas fa-times" />
                </button>
              </div>
            </div>
          {:else}
            <p
              on:click={() => {
                showeditpName = !showeditpName;
              }}
              style="text-transform:capitalize"
              class="title"
            >
              {playlistName}
            </p>
          {/if}
        {:else}
          Current Playlist
        {/if}
        {currentPlaylist.length} titles - {getUniqueItemsCount(
          currentPlaylist,
          "artist"
        )} artists
      </p>
      <section
        class="container"
        style="height: 30vh;overflow-y: auto;overflow-x:hidden"
      >
        {#each currentPlaylist as song, i}
          <div class="columns is-mobile" style="padding: 10px;">
            <div class="column">
              <p class="subtitle">
                {#if currentSongIndex === i}
                  <span class="icon">
                    <i class="fas fa-music" />
                  </span>
                {/if}
                {#if song.artist && song.artist.name}
                  <a
                    on:click={() => {
                      showeditpName = false;
                      // showplaylist = false;
                    }}
                    href={`/artist/${song.artist.id}`}
                    >{song.artist && song.artist.name + " "}</a
                  >
                {:else}
                  XX :
                {/if}
              </p>
            </div>
            <div class="column">
              <p
                class="subtitle"
                on:click={() => {
                  skipTo(i);
                }}
                style="cursor: pointer;"
              >
                {song.title.replaceAll(
                  (song.artist && song.artist.name) || "",
                  ""
                )}
              </p>
            </div>
            <div class="column">
              <p class="subtitle has-text-centered">
                {song.duration || "-"}
              </p>
            </div>
            <div class="column">
              <p class="subtitle has-text-centered">
                <button
                  on:click={() => {
                    removeItem(i);
                  }}
                  class="delete"
                />
              </p>
            </div>
          </div>
        {/each}
      </section>
      <footer class="modal-card-foot">
        <button
          class={!loading ? "button is-success" : "button is-sucess is-loading"}
          on:click={async () => {
            let ids = currentPlaylist.map((a) => a.id);
            if (playlistId !== undefined) {
              await UpdatePlaylist(ids, playlistName, playlistId);
            } else {
              await CreatePlaylist(ids, playlistName);
            }
            showeditpName = false;
            //   showplaylist = false;
          }}>Save</button
        >
        <button
          on:click={() => {
            showeditpName = false;
            //   showplaylist = false;
          }}
          class="button">Cancel</button
        >
      </footer>
    </div>
  </div>
{/if}
