<script>
  import { onMount } from "svelte";
  import SharingRequests from "../components/SharingRequest.svelte";

  let loading = {};
  let error = undefined;
  let showshare = false;
  let profile = undefined;
  let allreadyAskedIDs = undefined;
  let toupdate = {
    id: undefined,
    accept: undefined,
    refuse: undefined,
  };

  onMount(async () => {
    const response = await fetch("/api/profile", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      profile = parsed;
      profile.devices.sort(
        (a, b) => new Date(b.lastConnection) - new Date(a.lastConnection)
      );
      if (profile.askedSharingRequests) {
        allreadyAskedIDs = profile.askedSharingRequests.map((a) => a.to.id);
      }
    }
  });
  async function onUpdateReceivedSharingRequests(id, accept) {
    if (id === undefined || id === "") return;
    toupdate.id = id;
    loading[id] = true;
    if (accept === true) {
      toupdate.accept = true;
      toupdate.refuse = false;
    } else if (accept === false) {
      toupdate.accept = false;
      toupdate.refuse = true;
    }
    const response = await fetch("/updatesharingrequest", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify(toupdate),
    });
    // let res = 
    await response.json();
    loading[id] = false;
  }
  async function onDeleteDevice(id) {
    const response = await fetch("/deletedevice", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ id }),
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      profile.devices = profile.devices.filter(function (item) {
        return item.id !== id;
      });
    }
  }
</script>

<svelte:head>
  <title>Profile | {(profile && profile.name.toUpperCase()) || "Loading"}</title
  >
</svelte:head>
<section
  style="margin-top: 3vh;margin-bottom: 10vh;"
  class="container box"
  on:keyup|nonpassive={null}
>
  {#if profile}
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <div class="block">
                <p class="title is-spaced" style="text-transform: capitalize;">
                  🙋 {profile.name}
                </p>
                <p class="subtitle">
                  Join at :<br />
                  {new Date(profile.createdAt).toDateString()}
                </p>
                <p class="subtitle">
                  Last see :<br />
                  {new Date(profile.updatedAt).toDateString()}
                </p>
              </div>
            </article>
            <article class="tile is-child notification is-warning">
              <!-- <p class="title">...tiles</p> -->
              <!-- <p class="subtitle">Bottom tile</p> -->
              {#if profile.askedSharingRequests.length > 0}
                {#each profile.askedSharingRequests as sharerequest}
                  <div class="card message">
                    <div class="columns">
                      <div class="column">
                        <p>
                          To User : <strong style="text-transform:capitalize"
                            >{sharerequest.to.name}</strong
                          >
                        </p>
                        <p>Accepted : {sharerequest.accepted}</p>
                        {#if sharerequest.refused}
                          <p>... refused</p>
                        {/if}
                        <p>Created At : {sharerequest.createdAt}</p>
                        <p>Updated At : {sharerequest.updatedAt}</p>
                      </div>
                      <div class="column">
                        <button class="button is-dark is-rounded is-small"
                          >Cancel</button
                        >
                      </div>
                    </div>
                  </div>
                {/each}
              {:else}
                <div class="card message has-text-left">
                  <button
                    on:click={() => {
                      showshare = true;
                    }}
                    style="text-transform:capitalize"
                    class="button is-info">+ ask for sharing</button
                  >
                </div>
              {/if}
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              <p class="title">🪣 Buckets</p>
              <div class="column">
                {#if profile.s3Credential}
                  <p class="title">
                    {profile.s3Credential.bucketName}
                  </p>
                  <p class="subtitle">
                    @ {profile.s3Credential.bucketHost}
                  </p>
                {:else}
                  <div class="column has-text-centered">
                    <p>🪣 No S3 Bucket configured yet.</p>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <button
                        on:click={() => {
                          showshare = true;
                        }}
                        style="text-transform:capitalize"
                        class="button is-text">ask for sharing</button
                      >
                    </div>
                    <div class="column">
                      <button
                        style="text-transform:capitalize"
                        class="button is-text">setup your own</button
                      >
                    </div>
                  </div>
                {/if}
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <div class="tags has-addons are-large">
              <span class="tag">Received Sharing Requests</span>
              <span class="tag is-primary"
                >{profile.receivedSharingRequests.length}</span
              >
            </div>
            <div class="content">
              {#if profile.receivedSharingRequests}
                <div class="column">
                  {#each profile.receivedSharingRequests as sharerequest}
                    <div class="message" style="padding: 10px;">
                      <div class="columns is-centered is-vcentered">
                        <div class="column">
                          <p>
                            From : <strong>{sharerequest.from.name}</strong>
                          </p>
                          <p>Accepted : {sharerequest.accepted}</p>
                          {#if sharerequest.refused}
                            <p>... refused</p>
                          {/if}
                          <p>
                            Created At : {new Date(
                              sharerequest.createdAt
                            ).toLocaleDateString()}
                          </p>
                          <p>Updated At : {sharerequest.updatedAt}</p>
                        </div>
                        <div class="column buttons has-text-centered">
                          {#if sharerequest.accepted !== true}
                            <button
                              on:click|once={onUpdateReceivedSharingRequests(
                                sharerequest.id,
                                true
                              )}
                              class={loading[sharerequest.id]
                                ? "button is-primary is-rounded is-loading"
                                : "button is-primary is-rounded"}>Accept</button
                            >
                          {/if}
                          <button
                            on:click|once={onUpdateReceivedSharingRequests(
                              sharerequest.id,
                              false
                            )}
                            class={loading[sharerequest.id]
                              ? "button is-danger is-rounded is-loading"
                              : "button is-danger is-rounded"}
                            >Refuse / Cancel</button
                          >
                        </div>
                      </div>
                    </div>
                  {/each}
                </div>
              {/if}
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-success">
          <div class="content">
            <p class="title">📟 My devices</p>

            <div class="content">
              <div class="columns">
                <div class="column " style="max-height: 60vh;overflow-y: auto">
                  {#each profile.devices as device}
                    <article class="message is-info" style="padding: 10px">
                      <div class="message-header">
                        {#if device.type === "Desktop"}
                          💻
                        {:else if device.type === "Mobile" || device.type === "Android"}
                          📱
                        {:else}
                          📠
                        {/if}
                        {device.name}
                        <button
                          on:click|preventDefault|once={onDeleteDevice(
                            device.id
                          )}
                          class="delete"
                        />
                      </div>
                      <div class="message-body">
                        <p class="block">
                          User Agent :<br /> <code>{device.userAgent}</code>
                        </p>
                        <p class="block">
                          Last IP :<br /> <code>{device.lastIP}</code>
                        </p>
                        <p class="block">
                          Last Connection :<br />
                          <time
                            >{new Date(
                              device.lastConnection
                            ).toUTCString()}</time
                          >
                        </p>
                      </div>
                    </article>
                  {/each}
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class={showshare ? "modal is-active" : "modal"}>
      <div class="modal-background" />
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Share Requests</p>
          <button
            class="delete"
            on:click={() => {
              showshare = false;
            }}
            aria-label="close"
          />
        </header>
        <section class="modal-card-body" style="height: 30vh;overflow-y: auto">
          <SharingRequests
            allreadyAskedIDs={allreadyAskedIDs && allreadyAskedIDs}
          />
        </section>
        <footer class="modal-card-foot has-text-centered">
          <button
            on:click={() => {
              showshare = false;
            }}
            class="button">Close</button
          >
        </footer>
      </div>
    </div>
    <!-- <h1 class="title is-3 has-text-centered" style="text-transform: capitalize">
      <span class="icon is-small" style="margin:2px">
        <i class="fas fa-user" />
      </span>
      {profile.name}
    </h1>
    <div class="columns is-vcentered">
      <div class="column">
        <p>ID : {profile.id}</p>
        <p>Created At : {profile.createdAt}</p>
        <p>Updated At : {profile.updatedAt}</p>
      </div>
      <div class="column">
        {#if profile.s3Credential}
          <p>
            🪣 Bucket : <strong>{profile.s3Credential.bucketName}</strong> @ {profile
              .s3Credential.bucketHost}
          </p>
        {:else}
          <div class="column has-text-centered">
            <p>🪣 No S3 Bucket configured yet.</p>
          </div>
          <div class="columns">
            <div class="column">
              <button
                on:click={() => {
                  showshare = true;
                }}
                style="text-transform:capitalize"
                class="button is-text">ask for sharing</button
              >
            </div>
            <div class="column">
              <button style="text-transform:capitalize" class="button is-text"
                >setup your own</button
              >
            </div>
          </div>
        {/if}
      </div>
    </div>
    
    <div class="columns box">
      {#if profile.askedSharingRequests}
        <div class="column">
          <div class="tags has-addons are-large">
            <span class="tag">Asked Sharing Requests</span>
            <span class="tag is-primary"
              >{profile.askedSharingRequests.length}</span
            >
          </div>
          {#if profile.askedSharingRequests.length > 0}
            {#each profile.askedSharingRequests as sharerequest}
              <div class="card message">
                <div class="columns">
                  <div class="column">
                    <p>
                      To User : <strong style="text-transform:capitalize"
                        >{sharerequest.to.name}</strong
                      >
                    </p>
                    <p>Accepted : {sharerequest.accepted}</p>
                    {#if sharerequest.refused}
                      <p>... refused</p>
                    {/if}
                    <p>Created At : {sharerequest.createdAt}</p>
                    <p>Updated At : {sharerequest.updatedAt}</p>
                  </div>
                  <div class="column">
                    <button class="button is-dark is-rounded is-small"
                      >Cancel</button
                    >
                  </div>
                </div>
              </div>
            {/each}
          {:else}
            <div class="card message has-text-left">
              <button
                on:click={() => {
                  showshare = true;
                }}
                style="text-transform:capitalize"
                class="button is-info">+ ask for sharing</button
              >
            </div>
          {/if}
        </div>
        <div class={showshare ? "modal is-active" : "modal"}>
          <div class="modal-background" />
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Share Requests</p>
              <button
                class="delete"
                on:click={() => {
                  showshare = false;
                }}
                aria-label="close"
              />
            </header>
            <section
              class="modal-card-body"
              style="height: 30vh;overflow-y: auto"
            >
              <SharingRequests
                allreadyAskedIDs={allreadyAskedIDs && allreadyAskedIDs}
              />
            </section>
            <footer class="modal-card-foot has-text-centered">
              <button
                on:click={() => {
                  showshare = false;
                }}
                class="button">Close</button
              >
            </footer>
          </div>
        </div>
      {/if}
      {#if profile.receivedSharingRequests}
        <div class="column">
          <div class="tags has-addons are-large">
            <span class="tag">Received Sharing Requests</span>
            <span class="tag is-primary"
              >{profile.receivedSharingRequests.length}</span
            >
          </div>
          {#each profile.receivedSharingRequests as sharerequest}
            <div class="card message">
              <div class="columns is-centered is-vcentered">
                <div class="column">
                  <p>From : <strong>{sharerequest.from.name}</strong></p>
                  <p>Accepted : {sharerequest.accepted}</p>
                  {#if sharerequest.refused}
                    <p>... refused</p>
                  {/if}
                  <p>Created At : {new Date(sharerequest.createdAt).toLocaleDateString()}</p>
                  <p>Updated At : {sharerequest.updatedAt}</p>
                </div>
                <div class="column buttons">
                  {#if sharerequest.accepted !== true}
                    <button
                      on:click|once={onUpdateReceivedSharingRequests(
                        sharerequest.id,
                        true
                      )}
                      class={loading[sharerequest.id]
                        ? "button is-primary is-rounded is-loading"
                        : "button is-primary is-rounded"}>Accept</button
                    >
                  {/if}
                  <button
                    on:click|once={onUpdateReceivedSharingRequests(
                      sharerequest.id,
                      false
                    )}
                    class={loading[sharerequest.id]
                      ? "button is-danger is-rounded is-loading"
                      : "button is-danger is-rounded"}>Refuse / Cancel</button
                  >
                </div>
              </div>
            </div>
          {/each}
        </div>
      {/if}
    </div> -->
  {:else if error}
    <div class="has-text-centered message is-danger">
      <p class="subtitle is-4">{JSON.stringify(error)}</p>
    </div>
  {:else}
    <div class="has-text-centered" style="padding: 10px;">
      <button class="button is-large is-loading" />
    </div>
  {/if}
</section>
