<script>
  import { goto } from "@sapper/app";
  let error = undefined;
  let loading = false;
  let usr = {
    username: "",
    password: "",
    inviteCode: "",
  };
  async function onRegister() {
    loading = true;
    const response = await fetch("/api/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify(usr),
    });
    const parsed = await response.json();
    loading = false;
    if (parsed.error) {
      error = String(parsed.error).split(':')[0];
    } else {
      goto("/login");
    }
  }
</script>

<section class="hero is-fullheight-with-navbar" style="padding: 30px">
  <div class="columns is-vcentered is-centered">
    <div class="column">
      <img alt="eclecktik logo" class="image" src="/cover.png" />
    </div>
    <div class="column">
      <div class="container has-text-center">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input
              required
              bind:value={usr.username}
              class="input"
              type="text"
              placeholder="Username"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user" />
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check" />
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              required
              bind:value={usr.password}
              class="input"
              type="password"
              placeholder="Password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock" />
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              required
              bind:value={usr.inviteCode}
              on:keyup={(e) => e.key === "Enter" && onRegister()}
              class="input"
              type="text"
              placeholder="Invite code"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-gift" />
            </span>
          </p>
        </div>
        {#if error}
          <div class="field has-text-centered">
            <p class="control message is-danger is-3" style="text-transform:capitalize">
              ⚠️ {error}
            </p>
          </div>
        {/if}
        <div class="field">
          <p class="control">
            <button
              on:click|preventDefault={onRegister}
              class={loading
                ? "button is-link is-outlined is-fullwidth is-loading"
                : "button is-link is-outlined is-fullwidth"}
            >
              Register
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .columns {
    height: 80vh;
  }
</style>
