<script context="module">
  export async function preload({ params }) {
    const res = await this.fetch(`album/${params.id}.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { album: data };
    } else {
      this.error(res.status, data.message);
    }
  }
</script>

<script>
  import Album from "../../components/Album.svelte";
  export let album;
</script>

<section class="has-text-centered" style="margin-top: 3vh;margin-bottom: 26vh;">
  <Album {album} />
</section>
