<script context="module">
  export function preload() {
    return this.fetch(`album.json`)
      .then((r) => r.json())
      .then((albums) => {
        return { albums };
      });
  }
</script>

<script>
  export let albums;
</script>

<ul>
  {#each albums.albums as album}
    <!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
    <li><a rel="prefetch" href="album/{album.id}">{album.name}</a></li>
  {/each}
</ul>
