<script context="module">
  export async function preload({ params }) {
    const res = await this.fetch(`artist/${params.id}.json`);
    const data = await res.json();
    if (res.status === 200) {
      return { artist: data };
    } else {
      this.error(res.status, data.message);
    }
  }
</script>

<script>
  import Artist from "../../components/Artist.svelte";
  export let artist;
</script>

<section class="box has-text-centered">
  <Artist {artist} />
</section>
