<script context="module">
  export function preload() {
    return this.fetch(`artist.json`)
      .then((r) => r.json())
      .then((artists) => {
        return { artists };
      });
  }
</script>

<script>
  export let artists;
</script>

<section class="box">
  <ul>
    {#each artists as artist}
      <!-- we're using the non-standard `rel=prefetch` attribute to
          tell Sapper to load the data for the page as soon as
          the user hovers over the link or taps it, instead of
          waiting for the 'click' event -->
      <li><a rel="prefetch" href="artist/{artist.id}">{artist.name}</a></li>
    {/each}
  </ul>
</section>
