<script>
  import { ALBUM_PLACEHOLDER } from "../placeholders";

  import SongCard from "./SongCard.svelte";
  import { stores } from "@sapper/app";
  const { session } = stores();
  export let album;
  let loading = false;

  async function playAll() {
    if (!album || !album.songs) return;
    loading = true;
    document.getElementById("playall").blur();
    album.songs = album.songs.map((a) => {
      a.album = {
        id: album.id,
        name: album.name,
      };
      a.artist = album.artists[0];
      return a;
    });
    let res = await fetch("/api/playalbum", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ album, playNow: true }),
    });
    let parsed = await res.json();
    if (parsed && parsed.ok) {
      session.update((v) => {
        v.songs = album.songs;
        return v;
      });
    }
    loading = false;
    let el = document.getElementById("player");
    if (el) {
      await el.load();
      el.play();
    }
  }
  async function addAll() {
    if (!album || !album.songs) return;
    loading = true;
    document.getElementById("addall").blur();
    album.songs = album.songs.map((a) => {
      a.album = {
        id: album.id,
        name: album.name,
      };
      a.artist = album.artists[0];
      return a;
    });
    let res = await fetch("/api/playalbum", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ album, playNow: false }),
    });
    let parsed = await res.json();
    if (parsed) {
      session.update((v) => {
        v.songs = [...v.songs, ...album.songs];
      
        return v;
      });
    }
   loading = false;
  }
</script>

<svelte:head>
  <title>{album.name} - {album.artists && album.artists[0].name}</title>
</svelte:head>

<section style="padding: 20px;">
  <div class="columns is-centered is-vcentered">
    <div class="column">
      <figure class="image is-16x9">
        <img
          alt="album cover"
          src={album.coverUrl ? album.coverUrl : ALBUM_PLACEHOLDER}
        />
      </figure>
    </div>

    <div class="column">
      <div class="block" style="margin-bottom: 15%;margin-top: 15%">
        <h1 class="title is-underlined">
          {album.name}
        </h1>
        <h2 class="subtitle">
          <a href={`/artist/${album.artists[0].id}`}>🔗</a>
          {album.artists && album.artists[0].name}
        </h2>
      </div>

      <div class="columns is-mobile">
        <div class="column">
          <button
            id="playall"
            on:click|preventDefault|once={playAll}
            class={!loading
              ? "button is-medium is-link"
              : "button is-medium is-link is-loading"}
          >
            <span class="icon is-small">
              <i class="fas fa-play" />
            </span>
          </button>
        </div>
        <div class="column">
          <button
            id="addall"
            on:click|preventDefault|once={addAll}
            class={!loading
              ? "button is-medium is-link"
              : "button is-medium is-link is-loading"}
          >
            <span class="icon is-small">
              <i class="fas fa-plus" />
            </span>
          </button>
        </div>
      </div>

      <div class="columns is-vcentered mt-3">
        <div style="max-height: 42vh;width: 100%; overflow-y: scroll">
          {#each album.songs as song}
            <div style="padding: 10px;">
              <SongCard noicon={true} {song} />
            </div>
          {/each}
        </div>
      </div>
    </div>
  </div>
</section>
