<script>
  import { ARTIST_PLACEHOLDER, ALBUM_PLACEHOLDER } from "../placeholders";
  export let artist;
</script>

<section style="padding: 20px;">
  <div class="columns is-centered is-vcentered">
    <div class="column">
      <figure class="image is-16x9">
        <img
          alt="artist cover"
          src={artist.coverUrl ? artist.coverUrl : ARTIST_PLACEHOLDER}
        />
      </figure>
    </div>

    <div class="column">
      <div class="block" style="margin-bottom: 15%;margin-top: 15%">
        <h1 class="title">{artist.name}</h1>
        <h2 class="subtitle">
          {(artist.albums && artist.albums.length) || 0} albums
        </h2>
        <p class="buttons is-centered">
          <button class="button  is-danger">
            <span class="icon">
              <i class="fab fa-youtube" />
            </span>
            <span>Youtube</span>
          </button>
          <button class="button  is-primary">
            <span class="icon">
              <i class="fab fa-spotify" />
            </span>
            <span>Spotify</span>
          </button>
          <button class="button is-grey">
            <span class="icon">
              <i class="fab fa-record-vinyl" />
            </span>
            <span>Discog</span>
          </button>
        </p>
      </div>

      <div class="columns is-vcentered mt-3">
        <div
          class="column"
          style="max-height: 42vh;width: 100%; overflow-y: scroll;"
        >
          {#each artist.albums as album}
            <div class="box" style="padding: 20px;">
              <figure class="image is-3by1">
                <img
                  src={(album && album.coverUrl) || ALBUM_PLACEHOLDER}
                  alt="song cover"
                />
              </figure>
              <a class="button is-text" href={`/album/${album.id}`}
                >{album.name}</a
              >
            </div>
          {/each}
        </div>
      </div>
    </div>
  </div>
</section>
