<script>
  import { onMount } from "svelte";

  let genres = undefined;
  let error = undefined;
  let loading = false;

  onMount(async () => {
    const response = await fetch("/api/genres", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      genres = parsed;
    }
  });
</script>

<div style="max-height: 40vh;overflow-y:auto" on:keyup|nonpassive={null}>
  {#if genres}
    {#each genres.genres as genre}
      <div class="card" style="padding: 10px;margin:12px;">
        <div class="columns">
          <div class="column is-9">
            <p class="card-header-title" style="text-transform:capitalize">
              {genre.name} - {genre.type}
            </p>
          </div>
          <div class="column">
            <button class="card-header-icon"
              ><span class="icon">
                <i class="fas fa-play" />
              </span></button
            >
          </div>
        </div>
      </div>
    {/each}
  {:else if error}
    <div class="has-text-centered">
      <p class="is-danger">{JSON.stringify(error)}</p>
    </div>
  {:else}
    <div class="has-text-centered" style="padding: 10px;">
      <button class="button is-large is-loading" />
    </div>
  {/if}
</div>
