<script>
  import { onMount } from "svelte";
  import { stores } from "@sapper/app";
  const { session } = stores();

  export let segment;
  export let usr;
  export let lightmode;
  let version;
  onMount(() => {
    session.subscribe((_) => {
      if ($session.version) {
        version = $session.version;
      }
      if ($session.settings && $session.settings.lightmode !== undefined) {
        lightmode = $session.settings.lightmode;
      } else {
        lightmode = true;
        $session.settings = {
          lightmode,
        };
      }
      setTheme();
    });

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const _target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          _target.classList.toggle("is-active");
        });
      });
    }
  });
  function dismissNavbar() {
    const foo = document.querySelector(".navbar-burger");
    const faa = document.querySelector(".navbar-menu");
    if (foo) {
      foo.classList.remove("is-active");
    }
    if (faa) {
      faa.classList.remove("is-active");
    }
  }
  async function onLogout() {
    // const response =
    await fetch("/api/logout", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    });
    window.location.replace("/");
  }
  async function UpdateLightMode() {
    // const response =
    await fetch("/api/updatelightmode", {
      method: "POST",
      body: JSON.stringify({ lightmode }),
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    });
    // const parsed = await response.json();
  }
  async function setTheme() {
    var head = document.getElementsByTagName("HEAD")[0];
    if (lightmode === false) {
      // Create new link Element
      var link = document.createElement("link");
      // set the attributes for link element
      link.rel = "stylesheet";
      link.type = "text/css";
      link.id = "darkTheme";
      link.href = "https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css";
      // Append link element to HTML head
      head.appendChild(link);
    } else if (document.getElementById("darkTheme")) {
      var themlink = document.getElementById("darkTheme");
      head.removeChild(themlink);
    }
    await UpdateLightMode();
  }
</script>

<nav
  id="top-nav"
  class={lightmode ? "navbar is-fixed-top" : "navbar is-fixed-top is-dark"}
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src={lightmode ? "cover.png" : "vector/default-monochrome-white.svg"}
        alt="eclektik logo"
        width="112"
        height="30"
      />
    </a>

    <span
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true" />
      <span aria-hidden="true" />
      <span aria-hidden="true" />
    </span>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <p class="navbar-item is-6">
        v-{version || "dev"}
      </p>
      <a
        class="navbar-item"
        href="/"
        on:click={() => dismissNavbar()}
        aria-current={segment === undefined ? "page" : undefined}
      >
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link"> More </span>

        <div class="navbar-dropdown">
          <a
            class="navbar-item"
            on:click={() => dismissNavbar()}
            aria-current={segment === "about" ? "page" : undefined}
            href="about"
          >
            About
          </a>

          <a
            aria-current={segment === "contact" ? "page" : undefined}
            href="contact"
            on:click={() => dismissNavbar()}
            class="navbar-item"
          >
            Contact
          </a>
          <hr class="navbar-divider" />
          <a
            aria-current={segment === "issues" ? "page" : undefined}
            href="issues"
            on:click={() => dismissNavbar()}
            class="navbar-item"
          >
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {#if usr}
            <a
              aria-current={segment === "profile" ? "page" : undefined}
              href="profile"
              on:click={() => dismissNavbar()}
              class={lightmode ? "button is-link" : "button is-black"}
            >
              <span class="icon is-small">
                <i class="fas fa-user" />
              </span>
              <span style="text-transform:capitalize">{usr.name}</span>
            </a>
            <button
              aria-current={segment === "profile" ? "page" : undefined}
              on:click|preventDefault={onLogout}
              class={lightmode ? "button is-link" : "button is-black"}
            >
              <span class="icon is-small">
                <i class="fas fa-sign-out-alt" />
              </span>
            </button>
          {:else}
            <a
              aria-current={segment === "register" ? "page" : undefined}
              href="register"
              on:click={() => dismissNavbar()}
              class={lightmode ? "button is-info" : "button is-light"}
            >
              <strong>Sign up</strong>
            </a>
            <a
              aria-current={segment === "login" ? "page" : undefined}
              href="login"
              on:click={() => dismissNavbar()}
              class={lightmode ? "button is-link" : "button is-grey"}
            >
              Log in
            </a>
          {/if}
          <button
            id="lightmodetogler"
            aria-current={segment === "profile" ? "page" : undefined}
            on:click={async () => {
              lightmode = !lightmode;
              document.getElementById("lightmodetogler").blur();
              await setTheme();
              dismissNavbar();
            }}
            class={lightmode ? "button is-link" : "button is-black"}
          >
            <span class="icon is-small">
              <i class={lightmode ? "fas fa-lightbulb" : "fas fa-cat"} />
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
