<!-- src/component/PageTransitions.svelte -->
<script>
  import { fly, fade } from "svelte/transition";
  export let refresh = "";

</script>

{#key refresh}
  <div transition:fade>
    <slot />
  </div>
{/key}
<!-- in:fly={{ y: -50, duration: 250, delay: 300 }}
out:fly={{ y: -50, duration: 250 }} -->
