<script>
  export let playlistId;
  export let currentPlaylist;
  export let currentSongIndex;
  export let playlistName;
  export let togglePlaylist;
  export let skipTo;
  export let removeItem;
  export let showplaylist ;
  let loading = false;
  let showeditpName = false;
  function getUniqueItemsCount(arr, prop) {
    let foo = {};
    let uniques = 0;
    for (let index = 0; index < arr.length; index++) {
      const element = arr[index];
      if (element[prop] && element[prop].name) {
        foo[element[prop].name] = true;
      }
    }
    for (const key in foo) {
      if (Object.hasOwnProperty.call(foo, key)) {
        const element = foo[key];
        if (element && element === true) {
          uniques++;
        }
      }
    }
    return uniques;
  }
  async function UpdatePlaylist(songIDs, name, id) {
    loading = true;
    const response = await fetch("/api/updateplaylist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ id, ids: songIDs, name }),
    });
    const parsed = await response.json();
    loading = false;
    return parsed;
  }
  async function CreatePlaylist(songIDs, name) {
    loading = true;
    const response = await fetch("/api/createplaylist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ ids: songIDs, name }),
    });
    const parsed = await response.json();

    loading = false;
    return parsed;
  }
</script>

<div class={showplaylist === true ? "modal is-active" : "modal"}>
  <div
    class="modal-background"
    on:click={() => {
      showeditpName = false;
      showplaylist = false;
      togglePlaylist(showplaylist);
    }}
  />
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {#if playlistName}
          <div class="field has-addons">
            <div class="control">
              {#if showeditpName}
                <input
                  class="input is-small is-link"
                  type="text"
                  bind:value={playlistName}
                  placeholder="Update playlist name"
                />
              {:else}
                <p
                  on:click={() => {
                    showeditpName = !showeditpName;
                  }}
                  class="mt-2"
                >
                  {playlistName}
                </p>
              {/if}
            </div>
            <div class="control">
              <button class="button is-small is-text">
                <span class="icon is-small is-left">
                  <i class="fas fa-save" />
                </span>
              </button>
            </div>
          </div>
        {:else}
          Current Playlist
        {/if}
        {currentPlaylist.length} titles - {getUniqueItemsCount(
          currentPlaylist,
          "artist"
        )} artists
      </p>
      <button
        class="delete"
        on:click={() => {
          showeditpName = false;
          showplaylist = false;
          togglePlaylist(showplaylist);
        }}
        aria-label="close"
      />
    </header>
    <section class="modal-card-body" style="height: 30vh;overflow-y: auto">
      {#each currentPlaylist as song, i}
        <div class="columns is-mobile">
          <div class="column is-4">
            <p class="subtitle">
              {#if currentSongIndex === i}
                <span class="icon">
                  <i class="fas fa-music" />
                </span>
              {/if}
              {#if song.artist && song.artist.name}
                <a
                  on:click={() => {
                    showeditpName = false;
                    showplaylist = false;
                  }}
                  href={`/artist/${song.artist.id}`}
                  >{song.artist && song.artist.name + " "}</a
                >
              {:else}
                XX :
              {/if}
            </p>
          </div>
          <div class="column">
            <p
              class="subtitle"
              on:click={() => {
                skipTo(i);
              }}
              style="cursor: pointer;"
            >
              {song.title.replaceAll(
                (song.artist && song.artist.name) || "",
                ""
              )}
            </p>
          </div>
          <div class="column">
            <p class="subtitle has-text-centered">
              {song.duration || "-"}
            </p>
          </div>
          <div class="column">
            <p class="subtitle has-text-centered">
              <button
                on:click={() => {
                  removeItem(i);
                }}
                class="delete"
              />
            </p>
          </div>
        </div>
      {/each}
    </section>
    <footer class="modal-card-foot">
      <button
        class={!loading ? "button is-success" : "button is-sucess is-loading"}
        on:click={async () => {
          let ids = currentPlaylist.map((a) => a.id);

          if (playlistId !== undefined) {
            await UpdatePlaylist(ids, playlistName, playlistId);
          } else {
            await CreatePlaylist(ids, playlistName);
          }
          showeditpName = false;
          showplaylist = false;
          togglePlaylist(showplaylist);
        }}>Save</button
      >
      <button
        on:click={() => {
          showeditpName = false;
          showplaylist = false;
          togglePlaylist(showplaylist);
        }}
        class="button">Cancel</button
      >
    </footer>
  </div>
</div>
