<script>
  import { stores } from "@sapper/app";
  import { onMount } from "svelte";
  const { session } = stores();

  let playlists = undefined;
  let error = undefined;
  let loading = {};

  onMount(async () => {
    const response = await fetch("/api/playlists", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      playlists = parsed;
      for (let index = 0; index < playlists.length; index++) {
        const element = playlists[index];
        loading[element.id] = false;
      }
    }
  });
  async function OnDelete(playlistId) {
    loading[playlistId] = true;
    const response = await fetch("/api/deleteplaylist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ id: playlistId, playNow: true }),
    });
    const parsed = await response.json();
    let idx = playlists.findIndex((a) => a.id === playlistId);
    playlists.splice(idx, 1);
    playlists = playlists;
  }
  async function OnPlay(playlistId) {
    document.getElementById("clickplay"+playlistId).blur();
    loading[playlistId] = true;
    const response = await fetch("/api/playlist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ id: playlistId, playNow: true }),
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      session.update((v) => {
        v.songs = parsed.songs;
        v.currentIndex = 0;
        v.playlistId = parsed.id;
        v.playlistName = parsed.name;
        return v;
      });
      setTimeout(async function () {
        let el = document.getElementById("player");
        if (el) {
          await el.load();
          el.play();
        }
      }, 2000);
    }
    loading[playlistId] = false;
  }
</script>

<div
  style="max-height: 40vh;overflow-y:auto;overflow-x:hidden"
  on:keyup|nonpassive={null}
>
  {#if playlists}
    {#each playlists as playlist}
      <div class="card" style="padding: 10px;margin: 12px">
        <div class="columns is-centered is-vcentered">
          <div class="column is-7">
            <p class="card-header-title" style="text-transform:capitalize">
              {playlist.name} - {playlist.songs.length} titles
            </p>
          </div>
          <div class="column">
            <div class="columns is-mobile">
              <div class="column">
                <button
                  on:click|preventDefault={() => OnPlay(playlist.id)}
                  id={"clickplay"+playlist.id}
                  class={!loading[playlist.id]
                    ? "card-header-icon"
                    : "button is-text is-loading"}
                  ><span class="icon">
                    <i class="fas fa-play" />
                  </span></button
                >
              </div>
              <div class="column">
                <button
                  on:click|preventDefault={() => OnDelete(playlist.id)}
                  class={"card-header-icon"}
                  ><span class="icon">
                    <i class="fas fa-trash" />
                  </span></button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    {/each}
  {:else if error}
    <div class="has-text-centered">
      <p class="is-danger">{JSON.stringify(error)}</p>
    </div>
  {:else}
    <div class="has-text-centered" style="padding: 10px;">
      <button class="button is-large is-loading" />
    </div>
  {/if}
</div>
