<script>
  export let songID;
  import { stores } from "@sapper/app";
  const { session } = stores();
  let song = undefined;
  let addLoading = false;
  let playLoading = false;

  async function GetSongUrl(playNow) {
    const response = await fetch("/api/playsong", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ id: songID, playNow }),
    });
    const parsed = await response.json();
    song = parsed;
    return song;
  }
  async function playSong() {
    if (
      $session.songs &&
      $session.songs.find((a, i) => a.id === songID && i === 0)
    )
      return;
    playLoading = true;
    try {
      song = await GetSongUrl(true);
      session.update((v) => {
        v.songs = [song];
        return v;
      });
      playLoading = false;
    } catch (error) {
      console.error(error);
      playLoading = false;
    }
  }
  async function addSongToqueue() {
    if ($session.songs && $session.songs.find((a) => a.id === songID)) return;
    addLoading = true;
    try {
      song = await GetSongUrl(false);
      session.update((v) => {
        if (!v.songs) v.songs = [song];
        else v.songs = [...v.songs, song];
        return v;
      });
      addLoading = false;
    } catch (error) {
      console.error(error);
      addLoading = false;
    }
  }
</script>

<div class="field is-grouped">
  <p class="control">
    <button
      id="add"
      on:click|preventDefault={addSongToqueue}
      class={addLoading ? "button is-loading" : "button"}
    >
      <span class="icon is-small">
        <i class="fas fa-plus" />
      </span>
    </button>
  </p>
  <p class="control">
    <button
      id="play"
      on:click|preventDefault={playSong}
      class={playLoading ? "button is-loading" : "button"}
    >
      <span class="icon is-small">
        <i class="fas fa-play" />
      </span>
    </button>
  </p>
</div>
