<script>
  import { stores } from "@sapper/app";
  const { session } = stores();
  let loading = false;
  let playlist = undefined;
  async function GetRandomPlaylist() {
    loading = true;
    let res = await fetch("/api/randomsongs", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ playNow: true, total: 20 }),
    });
    let parsed = await res.json();
    if (parsed && parsed.songs) {
      playlist = parsed;
      session.update((v) => {
        v.songs = playlist.songs;
        v.currentIndex = 0;
        v.playlistName = playlist.name;
        return v;
      });
      let el = document.getElementById("player");
      if (el) {
        await el.load();
        el.play();
      }
    }
    loading = false;
    document.getElementById("playall").blur();
  }
</script>

<div class="mt-3">
  <button
    id="playall"
    on:click|preventDefault={GetRandomPlaylist}
    class={!loading
      ? "button is-fullwidth is-large is-link"
      : "button is-fullwidth is-large is-link is-loading"}
  >
    <span class="icon is-large">
      <i class="fas fa-random" />
    </span>
  </button>
</div>
