<script>
  import { onMount } from "svelte";
  import SongCard from "./SongCard.svelte";

  let lastSongs = undefined;
  let error = undefined;
  onMount(async () => {
    const response = await fetch("/api/lastuploadedsongs", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ limit: 20 }),
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      lastSongs = parsed.songs;
    }
  });
</script>


<div style="max-height: 40vh;overflow-y:auto" on:keyup|nonpassive={null}>
  {#if lastSongs}
    {#each lastSongs as song}
      <div style="padding: 10px;">
        <SongCard noicon={false} {song} />
      </div>
    {/each}
  {:else if error}
    <div class="has-text-centered">
      <p class="is-danger">{JSON.stringify(error)}</p>
    </div>
  {:else}
    <div class="has-text-centered">
      <button class="button is-large is-loading" />
    </div>
  {/if}
  </div>

<style scoped>
  /* section {
    max-height: 20vh;
    overflow-y: auto;
  } */
</style>
