<script>
  import SongCard from "./SongCard.svelte";
  import { stores } from "@sapper/app";
  const { session } = stores();

  let loading = false;
  let query = undefined;
  let results = undefined;
  let playallLoading = false;
  async function CreatePlaylist(songIDs, name, playNow) {
    const response = await fetch("/api/loadplaylist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ ids: songIDs, name }),
    });
    const parsed = await response.json();
    return parsed;
  }
  async function playAll() {
    if (!results || !results.songs) return;
    playallLoading = true;
    document.getElementById("playall").blur();
    let ids = results.songs.songs.map((a) => a.id);
    let playlist = await CreatePlaylist(ids, query.toLowerCase(), false);
    if (playlist.error) {
      console.log("Got error : ", songs.error);
      playallLoading = false;
      return;
    }
    session.update((v) => {
      v.currentIndex = 0;
      v.songs = playlist.songs;
      return v;
    });
    playallLoading = false;
  }
  async function onSearch() {
    loading = true;
    const response = await fetch("/api/search", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ query }),
    });
    const parsed = await response.json();
    if (parsed.error) {
      let error = parsed.error;
      console.error(error);
    } else {
      results = parsed;
    }
    loading = false;
  }
</script>

<section>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input
        required
        bind:value={query}
        on:keyup={(e) => e.key === "Enter" && onSearch()}
        class="input"
        type="text"
        placeholder="Search artist, song, album ..."
      />
    </div>
    <div class="control">
      <button on:click|preventDefault={onSearch} class="button is-info">
        <span class="icon is-small">
          <i class="fas fa-search" />
        </span>
      </button>
      {#if results}
        <button
          on:click|preventDefault={() => {
            query = undefined;
            results = undefined;
          }}
          class="button is-link"
        >
          <span class="icon is-small">
            <i class="fas fa-times" />
          </span>
        </button>
      {/if}
    </div>
  </div>
</section>
{#if results}
  <div class="content" style="width: 100%">
    <h1 class="title has-text-left mt-3">{results.total} results</h1>
    <section class="container has-text-centered" on:keyup|nonpassive={null}>
      {#if results.artists}
        <h3 class="subtitle">{results.artists.total} Artist(s)</h3>
        {#each results.artists.artists as artist}
          <div style="padding: 10px;" class="has-text-left">
            <h2>{artist.name} <a href={`/artist/${artist.id}`}>🔗</a></h2>
          </div>
        {/each}
      {/if}
      {#if results.albums}
        <h3 class="subtitle">{results.albums.total} Album(s)</h3>
        {#each results.albums.albums as album}
          <div style="padding: 10px;">
            <h2>{album.name} <a href={`/album/${album.id}`}>🔗</a></h2>
          </div>
        {/each}
      {/if}
      {#if results.songs}
        <h3 class="subtitle">
          {results.songs.total} Song(s)
          <button
            id="playall"
            on:click|preventDefault={playAll}
            class={playallLoading ? "button is-loading" : "button"}
          >
            <span class="icon is-small">
              <i class="fas fa-play" />
            </span>
          </button>
        </h3>

        {#each results.songs.songs as song}
          <div style="padding: 10px;">
            <SongCard noicon={false} {song} />
          </div>
        {/each}
      {/if}
    </section>
  </div>
{:else if loading}
  <div class="has-text-centered mt-5">
    <button class="button is-large is-loading" />
  </div>
{/if}

<style scoped>
  section {
    max-height: 40vh;
    overflow-y: auto;
  }
</style>
