<script>
  import { onMount } from "svelte";

  let error = undefined;
  let users = undefined;
  let loading = {};
  export let allreadyAskedIDs;
  onMount(async () => {
    const response = await fetch("/api/users", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    });
    const parsed = await response.json();

    if (parsed.error) {
      error = parsed.error;
      console.error(error);
    } else {
      users = parsed.users;
    }
  });
  async function onShareRequest(toUserID) {
    loading[toUserID] = true;
    const response = await fetch("/api/createsharerequest", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({ toUserID }),
    });
    const parsed = await response.json();
    loading[toUserID] = false;
    if (parsed.error) {
      error = String(parsed.error).split(":")[0];
    }
  }
</script>

<section>
  {#if error}
    <div class="field has-text-centered" style="padding: 10px">
      <p
        class="control message is-danger is-3"
        style="text-transform:capitalize"
      >
        ⚠️ {error}
      </p>
    </div>
  {/if}
  {#if users}
    {#each users as user}
      <div class="card" style="padding: 10px">
        <div class="columns is-vcentered">
          <div class="column">
            <strong style="text-transform: capitalize">{user.name} :</strong>
            {user.songsCount || 0} song(s)
            {user.albumsCount || 0} album(s)
            {user.playlistsCount || 0} playlist(s)
          </div>
          <div class="column">
            {#if !allreadyAskedIDs || (allreadyAskedIDs && !allreadyAskedIDs.includes(user.id))}
              <button
                on:click|preventDefault|once={onShareRequest(user.id)}
                class={loading[user.id]
                  ? "button is-small is-success ml-3 is-loading"
                  : "button is-small is-success ml-3"}
              >
                <span class="icon is-small">
                  <i class="fas fa-link" />
                </span>
              </button>
            {:else}
              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-small ml-3" disabled>
                    <span class="icon is-small">
                      <i class="fas fa-paper-plane" />
                    </span>
                    <span>Waiting for response</span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-small is-danger">
                    <span class="icon is-small">
                      <i class="fas fa-times" />
                    </span>
                  </button>
                </p>
              </div>
            {/if}
          </div>
        </div>
      </div>
    {/each}
  {/if}
</section>
