<script>
  export let song;
  export let noicon;
  import { SONG_PLACEHOLDER } from "../placeholders";
  import PlaySong from "./PlaySong.svelte";
</script>

<section>
  <div class="card">
    <div class="card-image">
      {#if !noicon || noicon === false}
        <figure class="image is-3by1">
          <img
            src={(song && song.coverUrl) || SONG_PLACEHOLDER}
            alt="song cover"
          />
        </figure>
      {/if}
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            {(song.title.replaceAll &&
              song.title
                .replaceAll(".mp3", "")
                .replaceAll(song.artist && song.artist.name, "")) ||
              ""}
          </p>
          <p class="subtitle is-6">
            {#if song.artist}
              <h2>
                {song.artist.name} <a href={`/artist/${song.artist.id}`}>🔗</a>
              </h2>
            {/if}
            {#if song.album}
              /
              <a href={`/album/${song.album.id || ""}`}
                >{(song && song.album && song.album.name) || "Unknow Album"}</a
              >
            {/if}
          </p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <PlaySong songID={song.id} />
    </footer>
  </div>
</section>

<style>
  .media-content {
    overflow: hidden;
  }
</style>
